body {
    font-family: "RobotoRegular", sans-serif;
    font-size: 16px;
}

hr {
    margin: 0;
}
#wrap_bg {
    padding: 0px;
}

.color {
    background: #c5c6fa;
}

#bg {
      background: url("../img/bcgd.jpg") no-repeat center center;
      height: 900px;
      background-size: cover;

}

.top_header {
    background-color: #4aaad2;
    color: #ffffff;
    margin-top: 50px;
}
.navbar {
    margin-bottom: 0px;
    border-radius: 0px;
}
.main_h1 {
    font-size: 40px;
    font-family: Nautilus Pompilius;
    text-align: center;
}

.am {
    padding-bottom: 30px;
}
footer {
    padding: 10px;
    background: #333;
    height: 50px;
    color: #45bade;
}

#footer_a li a {
    color: #45bade;
}
.marg_bot {
    margin-bottom: 30px;
}
#forma {
    margin-bottom: 40px;
}


.tooltip-inner {
    white-space: pre;
}

#back-top {
    position: fixed;
    bottom: 30px;
    margin-left: 150px;
}
#back-top a {
    width: 108px;
    display: block;
    text-align: center;
    font: 11px/100% Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: #bbb;
    /* transition */
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
}
#back-top a:hover {
    color: #000;
}
/* arrow icon (span tag) */
#back-top span {
    width: 108px;
    height: 108px;
    display: block;
    margin-bottom: 7px;
    background: #ddd url("../img/up-arrow.png") no-repeat center center;
    /* rounded corners */
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    /* transition */
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
}
#back-top a:hover span {
    background-color: #777;
}
